@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$White: hsl(0, 100%, 100%);
$Purple100: hsl(275, 100%, 97%);
$Purple600: hsl(292, 16%, 49%);
$Purple950: hsl(292, 42%, 14%);
$Pink: #ad28eb;

// - Weights: 400, 600, 700

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Purple100;
  color: $Purple600;
  background-image: url("/assets/images/background-pattern-mobile.svg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
  @media (min-width: 55rem) {
    background-image: url("/assets/images/background-pattern-desktop.svg");
  }
}

main {
  width: #{min(100%, 37.5rem)};
  background-color: $White;
  padding: 2rem;
  border-radius: 1rem;

  header {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    h1 {
      color: $Purple950;
      font-size: #{clamp(2rem, calc(5vw + 1px), 3rem)};
      font-weight: 700;
    }
  }
}

article {
  border-bottom: 1px solid $Purple100;
  &:nth-last-child(1) {
    border-bottom: none;
  }
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0;
    .faq-title {
      color: $Purple950;
      font-size: 1rem;
      font-weight: 600;
      flex: 1 1 50%;
    }
    .button {
      background-image: url("/assets/images/icon-plus.svg");
      width: 2rem;
      aspect-ratio: 1/1;
      border: none;
      border-radius: 50%;
    }
    &:hover {
      cursor: pointer;
      .faq-title {
        color: $Pink;
      }
    }
  }
  p {
    line-height: 1.3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
  }
}

article input:checked + header + p {
  max-height: 500px;
  padding-bottom: 1rem;
}
article input:checked + header label .button {
  background-image: url("/assets/images/icon-minus.svg");
}
